@font-face {
    font-family: 'zh-cn';
    src: url(zh-cn.ttf);
}

:root {
    --C: #000000;
    --bg: #0d1117;
    --A: #171b22;
    --B: #30363d;
    --bgurl: url(genshin.jpeg);
    --zh-cn: 'zh-cn';
    --blur: blur(5px);
    --pxbtn: 1.2rem;
    --ff: #fff;
    --inputc: #fff;
    --btn: #fff;
    --btnRadius: 8px;
    --btn-height: 40px;
    --inputc: #30363d;
}

body {
    font-family: 'zh-cn';
    height: 100vh;
    color: var(--ff);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bgurl);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

header {
    background: none;
    color: var(--ff);
    font-size: 30px;
    backdrop-filter: var(--blur);
    text-align: center;
    padding: 10px;
}

main {
    display: grid;
    place-items: center;
}

.main {
    display: flex;
    margin: 20px;
    padding: 10px;
    width: auto;
    border-radius: 16px;
    box-shadow: 0 0 10px #000;
    backdrop-filter: var(--blur);
}

.content {
    padding: 0 10px 0 0;
    display: grid;
}

.number {
    width: 100%;
    min-width: 100px;
    max-width: 140px;
    color: var(--inputc);
    margin: 5px;
    height: 20px;
    background: none;
    border: 2px solid var(--inputc);
    border-radius: 8px;
    padding: 5px;
    outline: none;
    backdrop-filter: var(--blur);
}

.button {
    display: flex;
    justify-content: end;
}

/* ----- button styles ----- */
#calculator,
#Reset,
#download,
#copy {
    background: #189a2e;
    color: var(--btn);
    width: 100%;
    height: var(--btn-height);
    padding: 5px;
    border: none;
    outline: none;
    border-radius: var(--btnRadius);
    cursor: pointer;
    font-size: var(--pxbtn);
    font-family: var(--zh-cn);
}

#Reset {
    background: #e12d39;
}

#copy {
    background: #0a84ff;
}

#download {
    background: #189a2e;
}

textarea {
    width: 100%;
    height: 300px;
    outline: none;
    background: none;
    color: var(--ff);
    border-radius: 10px;
    border: 3px solid #30363d;
}

@media (max-width: 768px) {
    .main {
        display: grid;
    }

    textarea {
        height: 270px;
    }
}
